<h1 id="bookings_header">Bookings</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Hours</th>
      <th>Mentor</th>
    </tr>
  </thead>
  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.start_date.strftime("%Y-%m-%d %H:%M") %></td>
        <td><%= booking.end_date.strftime("%Y-%m-%d %H:%M") %></td>
        <td><%= booking.duration %></td>
        <td><%= booking.booker.email %></td>
        <td>
          <%= link_to 'View', user_booking_path(booking.booker, booking), class: 'btn btn-primary' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
