<%# <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>


<div class ="dashboard-container">

  <div class="left-side">
    <div class ="sidebar">



              <div class="sidebar__links">
                <%= link_to root_path, class: "nav-link" do %>
                 <i class="fa-solid fa-user"></i><p>Profile</p>
                <% end %>
                <%= link_to root_path, class: "nav-link" do %>
                  <i class="fa-solid fa-house"></i><p> Dashboard</p>
                <% end %>
                <%= link_to root_path, class: "nav-link" do %>
                  <i class="fa-solid fa-message"></i><p> Messages</p>
                <% end %>
                <%= link_to root_path, class: "nav-link" do %>
                  <i class="fa-solid fa-money-check"></i><p> Payments</p>
                <% end %>
              </div>

              <div class="sidebar__userlinks">
                <div>
                  <%= link_to root_path, class: "nav-link" do %>
                    <i class="fa-solid fa-gear"></i><p> Settings</p>
                  <% end %>
                    <%= link_to root_path, class: "nav-link" do %>
                   <i class="fa-solid fa-right-from-bracket"></i><p> Log Out</p>
                  <% end %>
                </div>
            </div>
    </div>

    <div class="bottom_box">
      <p>Upgrade to Pro</p>
    </div>
  </div>


  <div class="right-side">
    <div class="searchfield">
        <div class="searchbar">
          <input type="text" class="searchfield_inner" placeholder ="Tap here to search">
        </div>

        <div class="searchbar__button btn btn-primary">
        </div>

        <div class="searchbar__button btn btn-success">
        </div>
    </div>
  </div>


</div>
