<div class="container">




  <div class="top_card">
    <div class="profile_top">
    <% if @user.profile_pic.nil?  %>
    <%=  '' %>
    <% else %>
      <%= image_tag @user.profile_pic , class: "profile_pic_show" %>
    <% end %>
      <h4 class="profile-name-show"><strong><%= @user.github_nickname %></strong></h4></h4>

        <div class="bio-box-show">
          <p class="bio-text-show"><small>Biography: Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut lab consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut lab</small></p>
        </div>

    <div class="d-flex my-3 justify-content-center">
      <div class="d-flex stats-btns-box-show">

        <% if current_user != @user %>
        <div class="d-flex btns-single-show" style="background: white">
            <%= link_to "Book", new_user_booking_path(@user), style: "text-decoration:none; color:#05595B" %>
          <p class="d-flex btn-text-show"></p>
        </div>
        <% end %>

          <% if current_user != @user %>
          <div class="d-flex btns-single-show" style="background: #5753c9;">
          <% if current_user %>
  <% if @room.nil? %>
  <%= link_to "Send Message", rooms_path(user_id: @user.id), data: { turbo_method: "post" }, style: "text-decoration:none; color:white;"  %>
  <% else %>
    <%= link_to "Message", room_path(@room),style: "text-decoration:none; color:white;" %>

<% end %>



                <p class="d-flex btn-text-show"></p>
            <% end %>
        </div>
        <% end %>

         <% if current_user != @user %>
          <div class="d-flex btns-single-show" style="background-color:#8c518c">
            <% if @follow && @follow.any? %>
              <%= link_to "Unfollow", follow_path(@follow.take), method: :delete, data: { turbo_method: :delete }, style: "text-decoration:none; color:white;" %>
            <% else %>
              <%= link_to "Follow", user_follows_path(@user), method: :post, data: { turbo_method: :post }, style: "text-decoration:none; color:white;" %>
            <% end %>
          </div>
        <% end %>


        <div class="d-flex btns-single-show">
          <p class="d-flex btn-text-show"> Followers <%= @user.followers.count %></p>
        </div>

        <div class="d-flex btns-single-show"
    class="d-flex btn-text-show" > Following <%= @user.following.count %></p>
        </div>
      </div>


 </div>
    </div>
      <div class="d-flex my-3 justify-content-center">
        <div class="d-flex cards-grid-show">
          <div class="boxes-grid-show">
            <h3 id="no-bg-box-show" class= "boxes-content-show">Git Hub</h3>
          </div>
          <div>
            <img src="https://ghchart.rshah.org/<%= @user.github_nickname %>" alt="GitHub contributions chart">
          </div>
        </div>
      </div>


      <div class="d-flex my-3 justify-content-center">
        <div class="d-flex cards-grid-show">
          <h3 id="no-bg-box-show" style="border:solid; padding:2vh;" class="boxes-content-show">My Stack</h3>

          <% @user.top_languages.each do |language| %>
            <div class="boxes-grid-show">
              <span class="skill-icons"><i class="<%= @fa_map[language] %> mr-2"></i> <p><%= language %></p> </span>
            </div>
          <% end %>
        </div>
        </div>

<div class="d-flex my-3 justify-content-center">
  <div class="d-flex cards-grid-show">
    <div class="boxes-grid-show">
      <h3 id="no-bg-box-show" class="boxes-content-show">Mentors</h3>
    </div>
    <% @users.shuffle.first(4).each do |user| %>
      <div>
        <%= image_tag user.profile_pic, class: "profile-pic-show rounded-circle", style: "margin-right: 15%; width: 70%; height: auto;" %>
        <h4 class="profile-name-show text-center">
          <h6><%= user.user_name %></h6>
        </h4>
      </div>
    <% end %>
  </div>
</div>
      </div>
      </div>
    </div>
  </div>
</div>

</div>
</div>
