<div class="container">
  <div class="d-flex justify-content-center pt-5">
    <div class="d-flex cards-show">
      <div class="d-flex profile-infos-show">
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "profile-pic-show" %>
        <h4 class="profile-name-show"><strong><%= @user.user_name %> <%= @user.github_nickname %></strong></h4></h4>
        <% if @follow.any? %>
          <%= link_to "unfollow", follow_path(@follow.take), data: { turbo_method: :delete } %>
        <% else %>
          <%= link_to "follow", user_follows_path(@user), data: { turbo_method: :post } %>
        <% end %>
      </div>
      <div class="bio-box-show">
        <p class="bio-text-show"><small>Biography: Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut lab consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut lab</small></p>
      </div>
    </div>
  </div>

  <div class="d-flex my-3 justify-content-center">
    <div class="d-flex stats-btns-box-show">
      <%# <div class="d-flex btns-single-show">
        <p class="d-flex btn-text-show"> Journey </p>
      </div> %>
      <div class="d-flex btns-single-show">
        <p class="d-flex btn-text-show"> Journey</p>
      </div>
      <div class="d-flex btns-single-show">
        <p class="d-flex btn-text-show"> Followers</p>
      </div>
      <div class="d-flex btns-single-show">
        <p class="d-flex btn-text-show"> Following</p>
      </div>
    </div>
  </div>
    <div class="d-flex my-3 justify-content-center">
      <div class="d-flex cards-grid-show">
        <div class="boxes-grid-show">
          <h3 id="no-bg-box-show" class= "boxes-content-show">Git Hub</h3>
        </div>
        <div>
          <img src="https://ghchart.rshah.org/<%= current_user.github_nickname %>" alt="GitHub contributions chart">
        </div>
      </div>
    </div>

  <div class="d-flex my-3 justify-content-center">
    <div class="d-flex cards-grid-show">
      <div class="boxes-grid-show">
        <h3 id="no-bg-box-show" class= "boxes-content-show">Mentors</h3>
      </div>
      <div class="boxes-grid-show">
        <h4 class= "boxes-content-show">Mentor Info</h4>
      </div>
      <div class="boxes-grid-show">
        <h4 class= "boxes-content-show">Mentor Info</h4>
      </div>
      <div class="boxes-grid-show">
        <h4 class= "boxes-content-show">Mentor Info</h4>
      </div>
    </div>
  </div>

    <%# <div class="d-flex my-3 justify-content-center">
      <div class="d-flex cards-grid-show">
        <div class="boxes-grid-show">
          <h3 id="no-bg-box-show" class= "boxes-content-show">Hack Rank</h3>
        </div>
        <div class="boxes-grid-show">
          <h4 class= "boxes-content-show">Stats 1</h4>
        </div>
        <div class="boxes-grid-show">
          <h4 class= "boxes-content-show">Stats 2</h4>
        </div>
        <div class="boxes-grid-show">
          <h4 class= "boxes-content-show">Stats 3</h4>
        </div>
      </div>
    </div> %>


    <div class="d-flex my-3 justify-content-center">
      <div class="d-flex cards-grid-show">
        <div class="boxes-grid-show">
          <h3 id="no-bg-box-show" class= "boxes-content-show">My Stack</h3>
        </div>
        <div class="boxes-grid-show">
          <h4 class= "boxes-content-show">Stats 1</h4>
        </div>
        <div class="boxes-grid-show">
          <h4 class= "boxes-content-show">Stats 2</h4>
        </div>
        <div class="boxes-grid-show">
          <h4 class= "boxes-content-show">Stats 3</h4>
        </div>
      </div>
    </div>
<%#
    <div class="d-flex my-3 justify-content-center">
      <div class="d-flex cards-grid-show">
        <div class="boxes-grid-show">
          <h3 id="no-bg-box-show" class= "boxes-content-show">Portfolio</h3>
        </div>
        <div class="boxes-grid-show">
          <h4 class= "boxes-content-show">Stats 1</h4>
        </div>
        <div class="boxes-grid-show">
          <h4 class= "boxes-content-show">Stats 2</h4>
        </div>
        <div class="boxes-grid-show">
          <h4 class= "boxes-content-show">Stats 3</h4>
        </div>
      </div>
    </div> %>
</div>
